* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(122.11deg, #ED8D6F 3.41%, #F3D463 97.33%);
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 500px;
  padding: 30px 32px;
}

img {
  display: block;
  width: 100px;
  height: 120px;
}

.cardContainer {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  /*depth of the elements */
  -webkit-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  /*border: 1px solid #ff0000;*/
}

.card {
  width: 100px;
  height: 120px;
  cursor: pointer;
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
