* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Inter', sans-serif;
  max-height: 100%;
  background: linear-gradient(122.11deg, #ED8D6F 3.41%, #F3D463 97.33%);
  background-repeat: no-repeat;
}

.start_menu.main-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splash-screen {
  background-color: #fff;
  padding: 50px 70px;
  border-radius: 40px;
}

h1.startHead {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 132px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3d463), to(#ed8d6f));
  background: linear-gradient(180deg, #f3d463, #ed8d6f);
  background-size: auto 500%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: background 1s ease infinite;
          animation: background 1s ease infinite;
  background-position: center 100%;
}

@-webkit-keyframes background {
  from {
    background-position: center 0;
  }
  50% {
    background-position: center 100%;
  }
  to {
    background-position: center 0;
  }
}

@keyframes background {
  from {
    background-position: center 0;
  }
  50% {
    background-position: center 100%;
  }
  to {
    background-position: center 0;
  }
}

#myProgress {
  margin-top: 20px;
  width: 20%;
  background-color: #fff;
  border-radius: 40px;
}

#myBar {
  width: 1%;
  height: 16px;
  background-color: #F3D463;
  border-radius: 40px;
}

.main-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.field {
  width: 430px;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 7px;
          column-gap: 7px;
  row-gap: 7px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.cardContainer {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  /*depth of the elements */
  -webkit-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  /*border: 1px solid #ff0000;*/
}

.card {
  cursor: pointer;
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .back {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 148, 214, 0.6)), to(rgba(66, 172, 232, 0.24)));
  background: linear-gradient(180deg, rgba(135, 148, 214, 0.6) 0%, rgba(66, 172, 232, 0.24) 100%);
  border-radius: 5px;
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front img {
  width: 100%;
  height: inherit;
}

.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .back img {
  width: 80%;
}

.ui-icon,
.ui-widget-content {
  border: none !important;
}

.ui-icon .ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(/img/icons/resize.svg) !important;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: 0% !important;
}

.ui-resizable-se {
  right: 5px !important;
  bottom: 5px !important;
}

@font-face {
  font-family: "Impact";
  font-family: "Inter";
  src: url(/fonts/inte);
  src: url(/fonts/impact_font/impact.ttf);
}
