@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Days';
  font-weight: 200;
  text-transform: uppercase;
  max-height: 100%;
  background: linear-gradient(110.53deg, #ED8D6F -0.39%, #F4D464 100%);
  background-size: 400% 400%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #f8924f;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.general-Ñontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.start_menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splash-screen {
  background-color: #fff;
  padding: 50px 70px;
  border-radius: 40px;
}

h1.startHead {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3d463), to(#ed8d6f));
  background: linear-gradient(180deg, #f3d463, #ed8d6f);
  background-size: auto 500%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: background 1s ease infinite;
          animation: background 1s ease infinite;
  background-position: center 100%;
  font-weight: 900;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 132px;
}

@-webkit-keyframes background {
  from {
    background-position: center 0;
  }
  50% {
    background-position: center 100%;
  }
  to {
    background-position: center 0;
  }
}

@keyframes background {
  from {
    background-position: center 0;
  }
  50% {
    background-position: center 100%;
  }
  to {
    background-position: center 0;
  }
}

#myProgress {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  border-radius: 40px;
}

#myBar {
  width: 1%;
  height: 16px;
  background-color: #F3D463;
  border-radius: 40px;
}

.game-example {
  position: absolute;
  right: -10%;
  bottom: -50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0fr)[4];
      grid-template-columns: repeat(4, 0fr);
  -webkit-column-gap: 2px;
          column-gap: 2px;
  row-gap: 2px;
  background: #fff;
  border-radius: 7px;
  padding: 12px;
}

.game-example img {
  display: block;
}

.game-example div {
  cursor: default;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__block {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.counter__block .counter {
  background: linear-gradient(45deg, #ef996e, #f3c467);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.help {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.help img {
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.help:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.left-side {
  padding-top: 80px;
}

.right-side {
  padding-top: 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  position: relative;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.menu::before, .menu::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: rgba(239, 150, 110, 0.4);
  border-radius: 5px;
}

.menu::before {
  top: 8px;
}

.menu::after {
  bottom: 8px;
}

.menu span {
  display: block;
  width: 40px;
  height: 3px;
  top: 50%;
  background-color: rgba(239, 150, 110, 0.4);
  border-radius: 5px;
}

.menu:hover {
  cursor: pointer;
  background-color: white;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.menu:hover span, .menu:hover::before, .menu:hover::after {
  background-color: #ef966e;
}

.menu.active {
  width: 60px;
  height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: white;
}

.menu.active span {
  display: none;
}

.menu.active::before, .menu.active::after {
  width: 22px;
  background-color: #ef966e;
}

.menu.active::before {
  top: 45%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.active::after {
  bottom: 45%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 130px;
}

.menu__items button {
  background-color: #fff;
  padding: 6px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.menu__items button:hover {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.menu__items button:hover img {
  opacity: 0.7;
}

.menu__items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}

.tooltip {
  position: fixed;
  padding: 5px 5px;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
  color: #ef966e;
  background: #fff;
  z-index: 2;
}

.volume {
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  z-index: 1;
}

.ui-slider-horizontal {
  height: 6px !important;
}

.ui-slider-range {
  background: #F4CD66 !important;
}

.ui-slider-handle {
  width: 13px !important;
  height: 13px !important;
  background-color: #F4CD66 !important;
  border-radius: 50% !important;
}

.ui-state-active {
  border: none !important;
}

.starting__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  font-size: 32px;
  font-style: normal;
  line-height: 135%;
}

.welcome__window {
  width: 100%;
}

.game__name {
  background: linear-gradient(45deg, #e75f2d, #fac515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-rules__window {
  width: 100%;
}

.game-rules__window .window__text {
  text-align: center;
  font-size: 24px;
  line-height: 135%;
  font-weight: 200;
  position: relative;
}

.game-rules__window .window__btns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.window__text {
  background: #fff;
  border-radius: 40px;
  padding: 5%;
  text-align: center;
}

#gif-icon {
  width: 7%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.window__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.window__btn {
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  min-width: 25%;
  text-align: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.window__btn:hover {
  background: #ee926e;
  color: #fff;
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.settings__window h2,
.settings__window div > div > div {
  background-color: #fff;
}

.settings__window h2 {
  text-align: center;
  border-radius: 10px;
  font-style: normal;
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
  padding: 1%;
}

.settings__window .window__btns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settings__window-block {
  margin-top: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  font-size: 20px;
}

.settings__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings__name div {
  margin-bottom: 5%;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.settings__name div:last-child {
  margin-bottom: 0;
}

.settings__values {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.settings__values div {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.settings__values div:hover {
  background: #ee926e;
}

.settings__values div:hover span {
  background: none;
  color: #fff;
  -webkit-text-fill-color: white;
}

.size__block div {
  display: inline;
}

.size__block div span {
  background: linear-gradient(45deg, #ee906f, #f4d265);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.difficult__block div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.difficult__block div span {
  display: inline;
}

.easy-game span {
  background: linear-gradient(45deg, #26a73a, #f4d265);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hard-game span {
  background: linear-gradient(45deg, #f74a0d, #f4d265);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selected {
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.main-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.field-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.field {
  width: 430px;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 7px;
          column-gap: 7px;
  row-gap: 7px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.cardContainer {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  /*depth of the elements */
  -webkit-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  /*border: 1px solid #ff0000;*/
}

.card {
  cursor: pointer;
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .back {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 148, 214, 0.6)), to(rgba(66, 172, 232, 0.24)));
  background: linear-gradient(180deg, rgba(135, 148, 214, 0.6) 0%, rgba(66, 172, 232, 0.24) 100%);
  border-radius: 5px;
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front img {
  width: 100%;
  height: inherit;
}

.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .back img {
  width: 80%;
}

.ui-icon,
.ui-widget-content {
  border: none !important;
}

.ui-icon .ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(/img/icons/resize.svg) !important;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: 0% !important;
}

.ui-resizable-se {
  right: 5px !important;
  bottom: 5px !important;
}

.socials {
  position: absolute;
  top: 90%;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials li {
  background: rgba(250, 250, 250, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}

.socials li .icon {
  fill: #F4D364;
}

.socials li:hover {
  background: #fafafa;
}

.socials li:hover .icon {
  fill: #ED8D6F;
}

.home {
  background: rgba(250, 250, 250, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 60px;
  height: 36px;
  position: absolute;
  top: 90%;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  cursor: pointer;
}

.home img {
  display: block;
  opacity: 0.3;
}

.home:hover {
  background: #fafafa;
}

.home:hover img {
  opacity: 1;
}

.win__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.win__window .window__text {
  width: 600px;
  background: none;
}

.score {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.5fr;
      grid-template-columns: 2fr 0.5fr;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
  font-size: 24px;
}

.score p {
  padding: 2%;
  background: #fff;
  border-radius: 10px;
  line-height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score span {
  background: #fff;
  padding: 2%;
  border-radius: 10px;
  color: #f46666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: "Impact";
  src: url(/fonts/impact_font/impact.ttf);
}

@font-face {
  font-family: "Days";
  src: url(/fonts/days_font/Days.ttf);
}
