@import "_nullstyle";

body {
	background: linear-gradient(122.11deg, #ED8D6F 3.41%, #F3D463 97.33%);
	background-repeat: no-repeat;
	font-family: 'Inter', sans-serif;
	max-height: 100%
}
header {
}

.main-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.field {
	width: 430px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 7px;
	row-gap: 7px;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
}


.cardContainer {

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;


	/*depth of the elements */
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;

	/*border: 1px solid #ff0000;*/
}

.card {
	cursor: pointer;
	/*transition effects */
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card.flipped {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card .back {
	background: linear-gradient(180deg, rgba(135, 148, 214, 0.6) 0%, rgba(66, 172, 232, 0.24) 100%);
	border-radius: 5px;
}
.card .front,
.card .back {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 4em;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.card .front img {
	width: 100%;
	height: inherit; 
}

.card .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;

}

.card .back img {
	width: 80%;
}