@import "_nullstyle";

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;

	max-height: 100%;
	background: linear-gradient(110.53deg, #ED8D6F -0.39%, #F4D464 100%);
	background-size: 400% 400%;
	user-select: none;
	color: #f8924f;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.general-Ñontainer {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
}

// splash screen start
.start_menu {
	flex-direction: column;
}

.splash-screen {
	background-color: #fff;
	padding: 50px 70px;
	border-radius: 40px;
}

h1 {
	&.startHead {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		background: linear-gradient(180deg, rgb(243, 212, 99), rgb(237, 141, 111));
		background-size: auto 500%;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: background 1s ease infinite;
		background-position: center 100%;

		font-weight: 900;
		text-align: center;
		font-family: "Impact", sans-serif;
		font-size: 132px;
	}
}

@keyframes background {
	from {
		background-position: center 0;
	}

	50% {
		background-position: center 100%;
	}

	to {
		background-position: center 0;
	}
}

#myProgress {
	margin-top: 30px;
	width: 100%;
	background-color: #fff;
	border-radius: 40px;
}

#myBar {
	width: 1%;
	height: 16px;
	background-color: #F3D463;
	border-radius: 40px;
}

// splash screen end

// game example start
.game-example {
	position: absolute;
	right: -10%;
	bottom: -63%;

	display: grid;
	grid-template-columns: repeat(4, 0fr);
	column-gap: 2px;
	row-gap: 2px;

	background: #fff;
	border-radius: 7px;
	padding: 12px;

	img {
		display: block;
	}

	div {
		cursor: default;
	}
}

// game example end

// right-side start
.right-side {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.counter__block {
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;

	.counter {
		background: linear-gradient(45deg, rgba(239, 153, 110, 1), rgba(243, 196, 103, 1));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		font-size: 24px;
	}
}

.help {
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;


	svg {
		display: block;
		transition: transform 0.2s ease;
	}

	&:hover svg {
		transform: scale(1.3);
	}
}

// right-side end

// starting window start 
.left-side {
	padding-top: 80px;
}

.right-side {
	padding-top: 80px;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 36px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	position: relative;
	transition: height 0.5s;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 40px;
		height: 3px;
		background-color: rgba(239, 150, 110, 0.4);
		border-radius: 5px;
	}

	&::before {
		top: 8px;
	}

	&::after {
		bottom: 8px;
	}

	span {
		display: block;
		width: 40px;
		height: 3px;
		top: 50%;
		background-color: rgba(239, 150, 110, 0.4);
		border-radius: 5px;

	}

	&:hover {
		cursor: pointer;
		background-color: rgba(255, 255, 255, 1);
		transition: background-color 0.2s ease;

		span,
		&::before,
		&::after {
			background-color: rgba(239, 150, 110, 1);
		}
	}

	&.active {
		width: 60px;
		height: 30px;
		transition: all 0.2s ease;

		background-color: rgba(255, 255, 255, 1);

		span {
			display: none;
		}

		&::before,
		&::after {
			width: 22px;
			background-color: rgba(239, 150, 110, 1);
		}

		&::before {
			top: 45%;
			transition: transform 0.5s ease;
			transform: rotate(45deg);
		}

		&::after {
			bottom: 45%;
			transition: transform 0.5s ease;
			transform: rotate(135deg);
		}

	}
}

.menu__items {
	display: flex;
	visibility: hidden;
	flex-direction: column;
	position: absolute;
	top: 130px;

	button {
		background-color: #fff;
		padding: 6px 10px;
		margin-bottom: 20px;
		border-radius: 5px;

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			transition: transform 0.3s ease;
		}

		&:hover img {
			transform: scale(1.1);
		}
	}

	&.active {
		display: flex;
		visibility: visible;
	}

}

.tooltip {
	position: fixed;
	padding: 5px 5px;
	border-radius: 4px;
	text-align: center;
	font-size: 10px;
	color: rgba(239, 150, 110, 1);
	background: #fff;
	z-index: 2;
}


.volume {
	border-radius: 5px;
	position: relative;
	bottom: 10px;
	z-index: 1;
}

.ui-slider-horizontal {
	height: 6px !important;
}

.ui-slider-range {
	background: #F4CD66 !important;
}

.ui-slider-handle {
	width: 13px !important;
	height: 13px !important;
	background-color: #F4CD66 !important;
	border-radius: 50% !important;
}

.ui-state-active {
	border: none !important;
}

.starting__block {
	display: flex;
	justify-content: center;
	width: 70%;

	font-size: 32px;
	font-style: normal;
	line-height: 135%;

}

.welcome__window {
	width: 100%;
}

.game__name {
	background: linear-gradient(45deg, rgb(231, 95, 45), rgb(250, 197, 21));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.game-rules__window {
	width: 100%;


	.window__text {
		text-align: center;
		font-size: 24px;
		line-height: 135%;
		font-weight: 600;

		position: relative;
	}

	.window__btns {
		justify-content: center;
	}
}

.window__text {
	background: #fff;
	border-radius: 40px;
	padding: 5%;
	text-align: center;
}

#gif-icon {
	width: 7%;
	transform: scaleX(-1);
}

.window__btns {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.window__btn {
	background: #fff;
	border-radius: 10px;
	cursor: pointer;
	padding: 10px 10px;
	min-width: 25%;
	text-align: center;
	transition: background 0.2s;
	transition: color 0.2s;
}

.window__btn:hover {
	background: #ee926e;
	color: #fff;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}


// starting window end

// settings window start
.settings__window {

	h2,
	div>div>div {
		background-color: #fff;

	}

	h2 {
		text-align: center;
		border-radius: 10px;
		font-style: normal;
		font-size: 36px;
		font-weight: 700;
		line-height: 44px;

		padding: 1%;
	}

	.window__btns {
		justify-content: center;
	}
}

.settings__window-block {
	margin-top: 85px;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	column-gap: 50px;
	font-size: 20px;
}

.settings__name {
	display: flex;
	flex-direction: column;

	div {
		margin-bottom: 5%;
		text-align: center;
		border-radius: 10px;
		padding: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.settings__values {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: space-between;
	column-gap: 40px;

	div {
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		text-align: center;
	}

	div:hover {
		background: #ee926e;

		span {
			background: none;
			color: #fff;
			-webkit-text-fill-color: white;
		}
	}
}

.size__block {
	div {
		display: inline;

		span {
			background: linear-gradient(45deg, rgba(238, 144, 111, 1), rgba(244, 210, 101, 1));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

}

.difficult__block {
	div {
		display: inline-flex;

		span {
			display: inline;
		}
	}

}


.easy-game span {
	background: linear-gradient(45deg, rgba(38, 167, 58, 1), rgba(244, 210, 101, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hard-game span {
	background: linear-gradient(45deg, rgba(247, 74, 13, 1), rgba(244, 210, 101, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.selected {
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

// settings window end

.main-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.field-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.field {
	width: 430px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 7px;
	row-gap: 7px;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
}

.cardContainer {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;


	/*depth of the elements */
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;

	/*border: 1px solid #ff0000;*/
}

.card {
	cursor: pointer;
	/*transition effects */
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card.flipped {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card .back {
	background: linear-gradient(180deg, rgba(135, 148, 214, 0.6) 0%, rgba(66, 172, 232, 0.24) 100%);
	border-radius: 5px;
}

.card .front,
.card .back {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 4em;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card .front img {
	width: 100%;
	height: inherit;
}

.card .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;

}

.card .back img {
	width: 80%;
}

.ui-icon,
.ui-widget-content {
	border: none !important;

	.ui-icon {
		background-image: url(/img/icons/resize.svg) !important;
	}
}

.ui-icon-gripsmall-diagonal-se {
	background-position: 0% !important;
}

.ui-resizable-se {
	right: 5px !important;
	bottom: 5px !important;
}

.socials {
	position: absolute;
	top: 90%;

	ul {
		display: flex;
	}

	li {
		background: rgba(250, 250, 250, 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 36px;
		border-radius: 50%;
		margin-right: 10px;
		transition: background 0.2s;

		cursor: pointer;

		.icon {
			fill: #F4D364;
		}

		&:hover {
			background: rgba(250, 250, 250, 1);

			.icon {
				fill: #ED8D6F;
			}
		}

	}
}

.navBtn {
	background: rgba(250, 250, 250, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 60px;
	height: 36px;

	position: absolute;
	top: 90%;
	transition: background 0.1s;

	cursor: pointer;

	svg {
		display: block;
		opacity: 0.3;
	}

	&:hover {
		background: rgba(250, 250, 250, 1);

		svg {
			opacity: 1;
		}
	}
}


// win window start
.win__window {
	display: flex;
	flex-direction: column;
	align-items: center;


	& .window__text {
		width: 600px;
		background: none;
	}
}

.score {
	display: grid;
	grid-template-columns: 2fr 0.5fr;
	align-items: stretch;
	column-gap: 10px;
	row-gap: 15px;

	font-size: 24px;

	p {
		padding: 2%;
		background: #fff;
		border-radius: 10px;
		line-height: 100%;
		text-align: left;
		display: flex;
		align-items: center;
	}

	span {
		background: #fff;
		padding: 2%;
		border-radius: 10px;
		color: #f46666;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// win window end